<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
      <a class="navbar-brand" href="/">
          <img class="logo-menu" src="./assets/img/logo.png" alt="CPTUR">
        </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <div class="row">
        <div class="col-md-11">
          <div class="row-fluid">
            <img class="logo-header" src="./assets/img/header.png" alt="CPTUR">
          </div>
        </div>
      </div>
      <div class="row">
        <ul class="nav navbar-nav">
          <li>
            <a href="/">INICIO</a>
          </li>
          <li>
            <a href="/">QUIÉNES SOMOS</a>
          </li>
          <li>
            <a href="/Proyectos">ICTRC</a>
          </li>
          <li>
            <a href="/">PUBLICACIONES</a>
          </li>
          <li>
            <a href="/">BIBLIOTECA</a>
          </li>
          <li>
            <a href="/">NOTICIAS</a>
          </li>
          <li>
            <a href="/">EVENTOS</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>