<div class="container" style="margin-top: 3pc;">
  <div class="row about-gen-section">
    <div class="col-md-6">
      <div class="row">
        <select class="select-custom" id="sltCities">  
            <option value="" disabled>Departamento</option>
            <option *ngFor="let dpt of departments; let i=index" value="{{dpt.code}}">{{dpt.name}}</option>  
        </select>
      </div>
      <div class="row">
        <div class="tab-content">
          <div class="tab-pane active inner-pane-props">
            <div id="display-map" class="display-demo-map">
              <div id="map-colombia">
                <ul class="colombia">
                  <li class="co1"><a href="#amazonas">Amazonas</a></li>
                  <li class="co2"><a href="#antioquia">Antioquia</a></li>
                  <li class="co3"><a href="#arauca">Arauca</a></li>
                  <li class="co4"><a href="#atlantico">Atlántico</a></li>
                  <li class="co5"><a href="#bogota">Bogotá - Distrito Capital</a></li>
                  <li class="co6"><a href="#bolivar">Bolívar</a></li>
                  <li class="co7"><a href="#boyaca">Boyacá</a></li>
                  <li class="co8"><a href="#caldas">Caldas</a></li>
                  <li class="co9"><a href="#caqueta">Caquetá</a></li>
                  <li class="co10"><a href="#casanare">Casanare</a></li>
                  <li class="co11"><a href="#cauca">Cauca</a></li>
                  <li class="co12"><a href="#cesar">Cesar</a></li>
                  <li class="co13"><a href="#choco">Chocó</a></li>
                  <li class="co14"><a href="#cordoba">Córdoba</a></li>
                  <li class="co15"><a href="#cundinamarca">Cundinamarca</a></li>
                  <li class="co16"><a href="#guainia">Guainía</a></li>
                  <li class="co17"><a href="#guaviare">Guaviare</a></li>
                  <li class="co18"><a href="#huila">Huila</a></li>
                  <li class="co19"><a href="#la-guajira">La Guajira</a></li>
                  <li class="co20"><a href="#magdalena">Magdalena</a></li>
                  <li class="co21"><a href="#meta">Meta</a></li>
                  <li class="co22"><a href="#narino">Nariño</a></li>
                  <li class="co23"><a href="#norte-de-santander">Norte de Santander</a></li>
                  <li class="co24"><a href="#putumayo">Putumayo</a></li>
                  <li class="co25"><a href="#quindio">Quindío</a></li>
                  <li class="co26"><a href="#risaralda">Risaralda</a></li>
                  <li class="co27"><a href="#san-andres-y-providencia" class="tooltip-middle">San Andrés y Providencia</a></li>
                  <li class="co28"><a href="#santander">Santander</a></li>
                  <li class="co29"><a href="#sucre">Sucre</a></li>
                  <li class="co30"><a href="#tolima">Tolima</a></li>
                  <li class="co31"><a href="#valle-del-cauca">Valle del Cauca</a></li>
                  <li class="co32"><a href="#vaupes">Vaupés</a></li>
                  <li class="co33"><a href="#vichada">Vichada</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 lefty-side">
      <div class="row-fluid custom_bot_border">
        <div class="col-md-6  spn-1">
          {{currentObj.departament}}
        </div>
        <div class="col-md-3 spn-2">
          <span>Puesto</span>
          <span>{{currentObj.position}}</span>
        </div>
        <div class="col-md-3 spn-3">
          <span>Calificación</span>
          <span>{{currentObj.score}}</span>
        </div>
      </div>
      <div class="row-fluid custom_bot_border" *ngIf="currentObj?.valuesKeysList">
        <div class="col-md-4 ctc-color_a" *ngFor="let item of currentObj.valuesKeysList; let i=index">
          <span [ngStyle]="{ 'color': (i==0) ? '#005C81' : (i%2==0) ? '#F7B113' : (i%3==0) ? '#E43B4C' : '#005C81' }">{{item.value}}</span>
          <span>{{item.description}}</span>
        </div>
      </div>
      <div class="row-fluid" *ngIf="currentObj?.ictrcReportsList" style="margin-top: 1pc;">
        <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend"
          [chartType]="barChartType" [colors]="colors"></canvas>
      </div>
    </div>
  </div>
</div>