<div class="container-fluid">
  <div class="row container-marcas-cotelco">
    <h3 class="title-home">
      MARCAS COTELCO
    </h3>
    <hr class="hr-home">
    <div class="banner-marcas">
      <div class="container-fluid">
        <div id="myCarousel" class="carousel slide">
          <div class="carousel-inner">
            <div class="item active">
              <div class="row home-footer">
                <div class="col-sm-1 col-sm-offset-1">
                  <img src="./assets/img/marcas/checkin-on.jpg" alt="Image" class="img-responsive img-footer-home">
                </div>
                <div class="col-sm-1 col-sm-offset-1">
                  <img src="./assets/img/marcas/viviryviajar-on.jpg" alt="Image" class="img-responsive img-footer-home">
                </div>
                <div class="col-sm-1 col-sm-offset-1">
                  <img src="./assets/img/marcas/expo-on.jpg" alt="Image" class="img-responsive img-footer-home">
                </div>
                <div class="col-sm-1 col-sm-offset-1">
                  <img src="./assets/img/marcas/congreso-on.jpg" alt="Image" class="img-responsive img-footer-home">
                </div>
                <div class="col-sm-1 col-sm-offset-1">
                  <img src="./assets/img/marcas/asamblea-on.jpg" alt="Image" class="img-responsive img-footer-home">
                </div>
                <div class="col-sm-1 col-sm-offset-1">
                  <img src="./assets/img/marcas/seminario-on.jpg" alt="Image" class="img-responsive img-footer-home">
                </div>
                <div style="margin-left: 3%; margin-top: -1%;" class="col-sm-1 col-sm-offset-1" (click)="redirect('http://www.cptur.org')">
                  <img src="./assets/img/marcas/pensamiento-on.jpg" alt="Image" class="img-responsive img-footer-home">
                </div>
              </div>
            </div>
          </div>
          <a class="left carousel-control custom-marcas-control" href="#myCarousel" data-slide="prev">‹</a>
          <a class="right carousel-control custom-marcas-control" href="#myCarousel" data-slide="next">›</a>
        </div>
      </div>
    </div>
  </div>
</div>