<div class="row header-inner-sections capacitaciones-img">
  <div class="title-inner-section">
      <span>{{event.name}}</span>
  </div>
</div>
<div class="row yellow-bar"></div>
<div class="container-fluid gray-blocked">
  <div class="row-fluid">
      <div class="container" class="inner-event-conti">
          <div class="col-md-2 righty-side">
              <div class="row">
                  <ul class="nav nav-pills nav-stacked righty-menu menusitoMen">
                  </ul>
              </div>
          </div>
          <div class="col-md-10">
              <div class="row">
                  <div class="tab-content" id="bodyCont">
                  </div>
              </div>
          </div>
          <div class="col-md-2 lefty-side">
              <div class="row">
                  <ul class="nav nav-pills nav-stacked lefty-menu menusitoMen">
                  </ul>
              </div>
          </div>
      </div>
  </div>
</div>