<div class="container">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" />
  <div id="content" class="nnM">
    <div class="newHeader">
      <a href="/" class="ahe">
                    <img src="./assets/img/logo1.png" class="logo-1-he">
                </a>
      <label class="labhe"></label>
      <div class="dvhe">
        <img src="" class="imhe" id="newsImage">
      </div>
    </div>
    <label class="titulotabla2" id="nombre1"></label>
    <span class="dtd"></span>
    <div class="newBody">
    </div>
    <div class="newVideo">
    </div>
  </div>
  <div id="footer" class="footerNoti">
    <div class="newFooter">
      <a href="http://www.cotelco.org/" class="afo">www.cotelco.org</a>
      <img src="./assets/img/noti/marcaFooter.png" class="imfo" />
    </div>
  </div>
</div>